#main {
    padding-left: 272px;
    margin-top:70px;
    display: fixed;
  }

  #dash h3{
    font-size: x-large;
  }
  .heading {
    margin-top: 10px;
    border: solid;
    margin-left: 10px; 
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  

  .heading img {
    width: 40px; 
    height: 40px;
    margin-right: 10px; 
    border-radius: 50%; 
  }
  
  #overview {
    padding-left: 30px;
  }
  
  #student-image {
    height: 80px;
    border-radius: 50px;
  }
  
  .one, .two, .three, .four {
    height: 170px;
    width: 190px;
    display: block;
    padding: 8px;
    border:1px  solid;
    font-size: large;
    text-align: center;
    border-radius: 15px;
  }
  
  .one {
    float: left;
  }
  
  .four {
    float: right;
    margin-right: 50px;
  }
  
  .three {
    float: left;
    margin-left: 100px;
  }
  
  .two {
    float: left;
    margin-left: 80px;
  }
  
  #home-table, #home-tr, #home-th, #home-td {
    border-bottom:1px solid;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: rgb(201, 224, 245);
  }
  #det{
    margin-top:20px;
  }
  .line{
    display:flex;
    float: left;
    margin-bottom: 10px;
  }
  .pie{
    display: flex;
    float:right;
    margin-top: 150px;
  }
  .Piechart{
    max-height: 100px;
  }
  #home-table {
    text-align: center;
    min-width: 700px;
  }
  
  #home-tr, #home-th {
    padding: 20px;
  }
  
  #div2 {
    padding-left: 40px;
    padding-top: 40px;
    grid-row-start: 2; 
    grid-column-start: 1; 
    grid-column-end: span 4; 
    clear: both; 
  }
  #div3
  {
    position: absolute;
    left: 74%;
    top:74%;
  }